<!DOCTYPE html>
<html>
  <head>
    <title>StoreTransactions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <ul class="nav">
            <li class="<%= 'active' if current_page?(new_import_path) %>"><%= link_to "Importar CNAB", new_import_path, class: "font-weight-bold nav-item nav-link" %></li>
            <li class="<%= 'active' if current_page?(store_transactions_path) %>"><%= link_to "Lojas", store_transactions_path, class: "font-weight-bold nav-item nav-link" %></li>
          </ul>
        </div>
      </div>
    </nav>

    <% flash.each do |type, msg| %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= msg %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
